{{!-- Prototype Donations page --}}
<section class="flex space-x-5 justify-center">
    <div class="donation-container border-double border-8 rounded-md m-5 p-5">
        <div class="basis-1/4">
        
            <h2 class="font-semibold text-center text-4xl">Donation Form</h2>
        <hr></div>
        <form class="p-10">

        {{!-- <label for="fname">First name:</label> --}}
        <input type="text" class="border rounded border-slate-950 p-4 pr-20 mb-1 w-100" id="Fname" name="Fname" placeholder="First Name">
        <br>
        <input type="text" class="border rounded border-slate-950 p-4 pr-20 mb-1" id="Lname" name="Lname" placeholder="Last Name">
        <br>
        <input type="text" class="border rounded border-slate-950 p-12 pr-12 mb-1" id="item" name="item" placeholder="Item">
        <br>
        <input type="date" class="border rounded border-slate-950 p-4 pr-4 mb-1" id="date" name="date" placeholder="Date">
        <br>
        <button id="submit" class="btn submit-btn border rounded border-slate-950 p-4 text-xl">Submit Item</button>
        {{!-- <input type="submit" value="Submit"> --}}
        </form>
    </div>

    <div class="last-donation-container border-double border-8 rounded-md m-5 p-5">
        <div class="basis-1/4">
                <h2 class="font-semibold text-center text-4xl">Recent Donations</h2>
                <hr>
                <div class="donation p-4 text-2xl">
                    {{#each donations as |donations|}}
                    <p>
                    <b>{{donations.date}}</b>
                    {{donations.donation}}
                    </p>
                    {{/each}}
                </div>
                <div>
                    <p></p>
                </div>
        </div>
    </div>
</section>

<script src="/js/donations.js"></script>