{{!-- Tempoary code for the donor page. Still need to divide the two forms left to right --}}

<section class="flex space-x-5 justify-center">
<div class="donation-container inline-block border border-slate-950 w-1/4 p-1">
<div class="basis-1/4">
 <h2 class="font-semibold">Donor Log in Page/ Sign up Form</h2>
</div>
<hr>
</div>

  <form>
    {{! Form Options required for new users }}
    <input
      type="text"
      class="border rounded border-slate-950 pb-1 pr-3 mb-1"
      id="Fname"
      name="Firstname"
      placeholder="First Name"
    /><br />
    <input
      type="text"
      class="border rounded border-slate-950 pb-1 pr-3 mb-1"
      id="Lname"
      name="Lastname"
      placeholder="Last Name"
    /><br />
    <input
      type="email"
      class="border rounded border-slate-950 pb-10 pr-3 mb-1"
      id="Email"
      name="EmailAddress"
      placeholder="Email Address"
    /><br />
     <input
      type="password"
      class="border rounded border-slate-950 pb-10 pr-3 mb-1"
      id="Password"
      name="Password"
      placeholder="Password"
       /><br />
    <input type="submit" value="Submit" />
  </form>

<form>
    {{! Form Options required for Returining users }}
    <input
      type="email"
      class="border rounded border-slate-950 pb-10 pr-3 mb-1"
      id="item"
      name="item"
      placeholder="Email Address"
     /><br />
     <input
      type="password"
      class="border rounded border-slate-950 pb-10 pr-3 mb-1"
      id="Password"
      name="Password"
      placeholder="Password"
     /><br />
     <input type="submit" value="Submit" />
</div>
