<div class="text-center grid grid-cols-2 ">
    <div class="border-double border-8 rounded-md m-5 mb-12 h-50">
        <p class="text-5xl p-4">Pet of the Month:</p>
        <div class="h-full flex self-center justify-center">
            <img src="/images/pets/Toast.jpg" class="pet-month object-scale-down" alt="Bestest doggo in the world">
        </div>
    </div>

    <div class="grid grid-rows-2 m-5 ">
        <div class="border-double border-8 rounded-md mb-5 p-5">
            <p class="text-5xl">About us:</p>
            <br>
            <p class="text-2xl text-left">
                We are a non-profit organization that focuses on helping financially struggling shelters and pet owners. Already a pet owner to a particularly picky creature? Feel free to send both used (within reason) and new items that your life-long companion doesn't appreciate! We accept food, toys, puppy pads and litter, along with other commonly used items. No matter how small, we appreciate any and all contributions!
            </p>
            <br>
            <p class="text-2xl text-left">
                To donate, simply send your item to <span class="font-bold">1234 Paws Adventure Road, Georgia</span> and fill out the donation form on the donate page so we know to expect it's arrival!
            </p>
        </div>
        <div class="border-double border-8 rounded-md self-center p-10"> 
            <p class="text-3xl pb-10">If you plan on sending frequent donations, sign up to become a <span class="text-4xl">donor</span> today to keep track of your donations!</p>
            <a href="/api/donor" id="submit" class="btn submit-btn border rounded border-slate-950 p-4 text-3xl">Sign Up!</a>
            <p class="text-xl p-10">(Signing up is not necessary to make donations.)</p>
        </div>
    </div>
</div>