<section class="container">
    <h1 class="Pet_Images bg-grey"> Our Furry Friends! </h1>

    {{!-- {{#if loggedIn}} --}}

    {{#each petGallery as |Pet|}}

{{!-- Card --}}
    <section class="Pet_Cards w-60 p-2">

{{!-- image --}}
    <img class="" src="">
    <div class=""> </div>

{{!-- header --}}
    <h2 class=""> {{Pet.pet_name}} </h2>

{{!-- description --}}
    <p class="text-sm"> {{Pet.bio}}</p>

    </section>


    {{/each}}
    
</section>
{{!-- {{else}} --}}
{{!-- <a href="/login">You must login first to view this page!</a> --}}
{{!-- {{/if}} --}}