<section class="container">
    <h1 class="Pet_Images flex justify-center text-3xl p-5"> 
        Meet Our Furry Friends! 
    </h1>

    {{!-- For ALL cards --}}
    <div class="flex justify-center items-center gap-2 p-5">
        {{!-- {{#if loggedIn}} --}}

        {{#each petGallery as |Pet|}}

        {{!-- Card --}}
        <section class="Pet_Cards w-60 p-2 border-box bg-white rounded-lg shadow-lg transform transition-all hover:-translate-y-2 duration-300 hover:shadow-2x1">

        {{!-- image --}}
        <img class="Pet pictures rounded-lg" src= "/images/pets/{{pet.pet_name}}.jpg" alt="Pet pictures">
        <div class="p-2"> </div>

        {{!-- arrow --}}
        <input type="checkbox" class="peer absolute top-0 inset-x-0 w-full h-12 opacity-0 z-10 cursor-pointer" />

        {{!-- header --}}
        <h2 class="font-bold m-2 transition-transform duration-500 peer-checked:rotate-180"> {{Pet.pet_name}} </h2>

        {{!-- description --}}
        <p class="text-xl m-2 overflow-hidden transition-all duration-500 max-h-0 peer-checked:max-h-40 "> {{bio}}</p>

        </section>
        {{/each}}
    </div>

</section>