<section class ="py-6">

    {{!-- For ALL cards --}}
    <div class="flex flex-wrap justify-center items-center gap-4">

        {{#each wishes as |wish|}}

        {{!-- Card --}}
        <section class="Pet_Cards w-60 p-2 border-box bg-white rounded-lg shadow-lg transform transition-all hover:-translate-y-2 duration-300 hover:shadow-2x1">

        {{!-- image --}}
        <img class="rounded-lg object-scale-down h-48 w-96" src="/images/wishlist/{{wish.id}}.jpg" alt="Wishlist items">

        {{!-- header --}}
        <h2 class="font-bold m-2"> {{wish.item}} </h2>

        {{!-- description --}}
        <p class="text-sm m-2"> {{wish.description}}</p>

        </section>
        {{/each}}
    </div>

</section>