body {
    font-family: 'Dosis', sans-serif;
}

#nav {
    background-color: white;
}

#buttons {
    background-color: rgba(45, 143, 156, 0.336);
}

#buttons:hover {
    background-color: rgba(45, 143, 156, 0.493);
}

main {
    background-color: rgba(184, 94, 67, 0.37);
}

#sign-up {
    background-color: rgba(45, 143, 156, 0.336);
}

.nav-logo-link {
    width: 50%;
    height: 200px;
}

.pet-month {
    padding: 5px;
    width: 75%;
    height: 80%;
}

#submit {
    background-color: rgba(48, 165, 180, 0.397);
}

#submit:hover {
    background-color: rgba(48, 165, 180, 0.527);
}

footer {
    background-color:  rgba(36, 118, 129, 0.336);
}

.footer-logo {
    width: 45%;
}