body {
    background-color: rgba(184, 94, 67, 0.37);
    font-family: 'Dosis', sans-serif;
}

#nav {
    background-color: white;
}

#buttons {
    background-color: rgba(45, 143, 156, 0.336);
}

#sign-up {
    background-color: rgba(45, 143, 156, 0.336);
}

footer {
    background-color:  rgba(45, 143, 156, 0.336);
}

.nav-logo-link {
    width: 200px;
    height: 150px;
}